{% extends 'main.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}

{% block content %}
{% include 'search-form.html' %}

<div class="container-fluid mx-auto w-75 p-3 mb-5">
    <form class="p-3" action="" method="POST">
        {% csrf_token %}

        <p>Are you sure you want to delete "{{ object }}"?</p>

        {% buttons %}
            <button type="submit" class="btn btn-primary">CONFIRM</button>
            <a href="{% url 'project' object.id %}" class="btn btn-secondary">GO BACK</a>
        {% endbuttons %}
    </form>
</div>
{% endblock content %}