{% load humanize %}

<div class="container pt-3">
    <div class="row">
        <div class="col">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header fw-bold">Average price</div>
            <div class="card-body">
                <p class="card-text fs-2 fw-bold">AED {{overall_avg_price|floatformat:0|intcomma}}</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header fw-bold">Average price per sqf</div>
            <div class="card-body">
                <p class="card-text fs-2 fw-bold">AED {{overall_price_sqf|floatformat:0|intcomma}} sqf</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header fw-bold">Popular districts</div>
            <div class="card-body">
                <p class="card-text">{{most_common_districts}}</p>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header fw-bold">Popular neighborhoods</div>
            <div class="card-body">
                <p class="card-text">{{most_common_nhoods}}</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header fw-bold">Number of undervalued flats</div>
            <div class="card-body">
                <p class="card-text fs-2 fw-bold">{{n_undervalued|intcomma}}</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header fw-bold">Number of overvalued flats</div>
            <div class="card-body">
                <p class="card-text fs-2 fw-bold">{{n_overvalued|intcomma}}</p>
            </div>
            </div>
        </div>
    </div>
</div>