{% load bootstrap_icons %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item pt-2 px-3">
                <a class="navbar-brand" href="{% url 'projects' %}">
                    {% bs_icon 'house-fill' %}
                </a>
            </li>
            <li class="nav-item pt-2 px-3">
                <a class="nav-link text-light" href="{% url 'projects' %}">All Projects</a>
            </li>
            <li class="nav-item pt-2 px-3">
                <a class="nav-link text-light" href="{% url 'renovation-projects' %}">Renovation Projects</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item pt-2 px-3">
                <a class="nav-link text-light" href="{% url 'account' %}">Account</a>
            </li>
            <li class="nav-link text-light"><a href="{% url 'logout' %}" class="btn btn-secondary">Log Out</a></li>
            {% else %}
            <li class="nav-link text-light"><a href="{% url 'login' %}" class="btn btn-secondary">Log In / Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>